.contact {
    max-width: 1450px;
    background-color: #31271f;
    text-align: center;
  }
  
  .getinTouch {
    padding-top: 30px;
    width: 100%;
    color: white;
  }
  
  .get {
    font-weight: bold;
    font-size: 60px;
  }
  
  .iwouldbe {
    font-size: 20px;
    padding: 30px;
  }
  
  .social {
    max-width: 100%;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
    will-change: opacity, transform;
  }
  
  .social.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .linkedin,
  .github,
  .gmail {
    width: 28%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    margin-bottom: 90px;
  }
  
  .linkedimg,
  .githubimg,
  .gmailimg {
    max-width: 140px;
    margin-bottom: 20px;
  }
  
  .check {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
  }
  @media only screen and (max-width: 1024px) and (min-width: 769px)  {
    .check{
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
     }
     .gmailalex{
      font-size: 10px;
     }
 }
 @media only screen and (max-width: 768px) and (min-width: 425px)  {
    .check{
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 15px;
      font-size: 12px;
    }
     .gmailalex{
      font-size: 10px;
     }
     .social {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
     }
     .linkedin,
  .github,
  .gmail{
    width: 80%;
  }
  .get{
    font-size: 47px;
  }
  .iwouldbe{
    font-size: 15px;
  }
 }
 @media only screen and (max-width: 425px) and (min-width: 375px)  {
  .check{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: 10px;
   }
   .gmailalex{
    font-size: 10px;
   }
   .social {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   }
   .linkedin,
  .github,
  .gmail{
    width: 80%;
  }
  .get{
    font-size: 35px;
  }
  .iwouldbe{
    font-size: 12px;
  }
 }