.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; /* Space out elements evenly */
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navchoices {
    margin-left: 100px;
    margin-right: 100px;
}

.AXC {
    display: flex;
    align-self: center; /* Vertically align with other items */
    justify-content: flex-start; /* Optional for child content */
    font-size: 40px;
    font-weight: bold;
}
.PH {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}
